<%= form_for @user, url: demo_user_form_path(@user), html: {class:"ui-box w-full"} do |f| %>
  <div class="--top">
    <div class="ui-titlepair">
      <div class="--title">
        Forms
      </div>
    </div>
  </div>
  <div class="ui-form">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="--bottom">
    <div class="flex w-full justify-end">
      <%= f.submit "Sign Up", class: "ui-button --solid" %>
    </div>
  </div>
<% end %>