<div class="ui-box w-full">
  <div class="--top">
    <h3 class="ui-title --xl">
      Modals
    </h3>
  </div>

  <button onclick="launchModal({
                  selector: '#coffee', 
                  id: 'coffee',
                  size: 'md'})" 
          class="ui-button mr-4 mb-4">
    Open Modal from content on the page
    <%= inline_svg_tag("heroicons/arrow-up-right.svg") %>
  </button>

  <br/>

  <button onclick="launchModal({
                  url: '<%= demo_coffee_path %>', 
                  id: 'coffee_from_url',
                  size: 'md'})" 
          class="ui-button --motion-forward mr-4 mb-4">
    Open a modal from a URL
    <%= inline_svg_tag("heroicons/arrow-up-right.svg") %>
  </button>

  <br/>

  <button onclick="launchModal({
                  url: '<%= demo_multistep_start_path %>', 
                  id: 'multistep_modal',
                  size: 'md'})" 
          class="ui-button --motion-forward mr-4 mb-4">
    Open a modal with a form in it
    <%= inline_svg_tag("heroicons/arrow-up-right.svg") %>
  </button>

  
  <div class="--bottom flex">
    <div></div>
    <a target="_blank" href="https://docs.h1rails.com/h1rails/modals" class="ui-button --solid --motion-upward">
      Read The Docs 
      <%= inline_svg_tag("heroicons/arrow-top-right-on-square.svg") %>
    </a>
  </div>
</div>


<div id="coffee" class="hidden">
  <div class="--modal-top-section">
    <div class="ui-title --xl">
      About Coffee
    </div>
  </div>
  <button onclick="launchModal({
                url: '<%= demo_tea_path %>', 
                id: 'tea',
                size: 'md'})" 
        class="ui-button --motion-forward mr-4 mb-4">
    Open a modal inside another modal
  </button>
</div>