<div class="--modal-top-section">
  <div class="flex justify-between w-full">
    <div class="ui-titlepair">
      <div class="--title">
        Manage Categories
      </div>
    </div>
    <div class="ui-button --rounded --minimal" :click="modalOpen=false;modalLoading=true">
      <%= inline_svg_tag('heroicons/x-mark.svg') %>
    </div>
  </div>
</div>
<a href="<%= demo_new_category_path %>" class="ui-button --solid mb-3" hx-indicator="this">
  New Category
  <%= inline_svg_tag("misc/spinner.svg",class:"shown-while-loading") %>
</a>
<%= form_for @user, url: demo_has_many_form_path(@user.id), html: {class:"ui-form"} do |user_form| %>
  <%= user_form.fields_for :categories, @editable_categories do |nested_form| %>
    <% category = nested_form.object %>
    <div class="grid grid-cols-5 gap-4 mb-5" id="<%= dom_id(category) %>" hx-preserve="true">
      <div class="col-span-2">
        <%= nested_form.hidden_field :id %>
        <%= nested_form.text_field :title, placeholder: "Title" %>
      </div>
      <div class="col-span-2">
        <%= nested_form.text_field :description, placeholder: "Description" %>
      </div>
      <div class="col-span-1">
        <a class="ui-button" 
          hx-delete="<%= demo_delete_category_path(category) %>" 
          hx-indicator="this">
          <%= inline_svg_tag("heroicons/trash-outline.svg") %>
          Delete
          <%= inline_svg_tag("misc/spinner.svg",class:"shown-while-loading") %>
        </a>
      </div>
    </div>
  <% end %>
  <%= user_form.button class: "ui-button mt-3 --solid" do |button| %>
    Save  
    <%= inline_svg_tag("misc/spinner.svg",class:"shown-while-loading") %>
  <% end %>
<% end %>