<% content_for :sidebar_content do %>
  <div class="--section" style="margin-top: 1.5rem;">
    <h3 class="--eyebrow">Elements</h3>
    <a class="--menu-item <%= current_page?(demos_path) ? '--active' : '' %>" href="<%= demos_path %>">
      Assorted
    </a>
  </div>
<% end %>

<% @user = User.first %>
<div class="ui-container --sm">
  <div class="h-full flex flex-col items-center gap-y-8  --sm py-8">
    <div class="ui-titlepair --xl">
      <div class="--title">
        Demos
      </div>
      <div class="--description">
        These demos only cover functionality that relies on the backend. For more frontend utilities and patterns, visit the 
        <a href="https://docs.h1rails.com/h1rails">Docs</a>.
      </div>
    </div>
    <%= render partial: "h1rails/demos/buttons" %>
    <%= render partial: "h1rails/demos/modals" %>
    <%= render partial: "h1rails/demos/toasts" %>
    <%= render partial: "h1rails/demos/selects" %>
    <%= render partial: "h1rails/demos/location_search" %>
    <%= render partial: "h1rails/demos/charts" %>
    <%= render partial: "h1rails/demos/forms" %>
    <%= render partial: "h1rails/demos/rhino" %>
  </div>
</div>