
<!-- Modern HTML with no build step -->
<script type="module">
  import React from 'https://esm.sh/react';
  import { createRoot } from 'https://esm.sh/react-dom/client';

  // Usage
  const root = createRoot(document.getElementById('root'));
  root.render(React.createElement('h1', null, 'Hello World'));

</script>

<% content_for :sidebar_content do %>
  <%= render partial: "h1rails/demos/sidebar_content" %>
<% end %>

<% @user = User.first %>
<div class="ui-container --sm">
  <div class="h-full flex flex-col items-center gap-y-8  --sm py-8">
    <div class="ui-titlepair --xl">
      <div class="--title">
        Demos
      </div>
      <div class="--description">
        These demos only cover functionality that relies on the backend. For more frontend utilities and patterns, visit the 
        <a href="https://docs.h1rails.com/h1rails">Docs</a>.
      </div>
    </div>
    <%= render partial: "h1rails/demos/buttons" %>
    <%= render partial: "h1rails/demos/modals" %>
    <%= render partial: "h1rails/demos/toasts" %>
    <%= render partial: "h1rails/demos/selects" %>
    <%= render partial: "h1rails/demos/location_search" %>
    <%= render partial: "h1rails/demos/charts" %>
    <%= render partial: "h1rails/demos/forms" %>
    <%= render partial: "h1rails/demos/rhino" %>

  </div>
</div>