<title><%= page_title %></title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<!-- Base CSS & JS -->
<link href="/vendor/tailwind-lite/1.0.2.css" rel="stylesheet">
<% if @disable_rgs_bundle %>
<% else %>
  <link href="/stylesheets/styles.css<%= cache_buster %>" rel="stylesheet" >
<% end %>

<link href="<%= tonic_rails_url %>/base-styles/0.0.1.css<%= cache_buster %>" rel="stylesheet">
<link href="/stylesheets/base-styles-overrides.css<%= cache_buster %>" rel="stylesheet">

<script src="/js/custom.js<%= cache_buster %>" defer></script>
<script src="/vendor/htmx/1.9.9.js" defer></script>
<script src="/vendor/mini/1.0.15.js" ></script>
<!-- Vendor Additions -->
<link  href="/vendor/highlight/tomorrow-night-blue.css<%= cache_buster %>" rel="stylesheet" media="screen" />
<script src="/vendor/highlight/10.7.2.min.js" ></script>
<script src="/vendor/highlight/languages/erb.min.js" ></script>
<script src="/vendor/dropzone/5.9.3.min.js" ></script>
<link  href="/vendor/dropzone/5.9.3.min.css" rel="stylesheet" media="screen" />
<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap" rel="stylesheet">
<noscript>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap" rel="stylesheet">
</noscript>
<!-- Icons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="<%= page_description %>">