<% color_class="#{style}" if defined?(style) %>
<% defined?(delay) ? @delay = delay + 1500 : @delay = '300' %>
<% defined?(disappearing) ? @disappearing = disappearing : @disappearing = false %>


<div :scope>
  <div 
    :load="await wait('<%= @delay %>');
        console.log('here');
        scope.toastClass='opacity-100 toast-animate-in';
        <% if @disappearing %>
          await wait(1000);
          scope.toastClass='toast-animate-out opacity-0'
        <% end %>
    "
    :class="scope.toastClass"
    class="rounded-md opacity-0 toast p-4 mb-4 text-sm <%= color_class %> " role="alert">
    <div class="cursor-pointer absolute top-0 right-0" _="">
      <%= inline_svg_tag("heroicons/x-mark.svg",class:"w-5 h-5 mt-2 mr-2") %>
    </div>
    <% if defined?(title) && title %>
      <span class="block font-bold mb-2">
        <%= title %>
      </span> 
    <% end %>  
    <% if defined?(message) && message %>
      <%= message %>
    <% end %>
  </div>
</div>
