

<%= render partial: "shared/base_styles_left_menu"  %>
<div class="container flex flex-col gap-y-8 m-auto">

  <div class="ui-titlepair pt-6">
    <div class="--title">
      Base Styles
    </div>
    <div class="--description">
      Base styles gives you the foundations upon which to build your application's CSS.
    </div>
  </div>

  <div class="ui-box hidden">
    <div class="--top flex flex-col">
      <div class="ui-titlepair">
        <div class="--title">
          Usage
        </div>
      </div>
    </div>
    <div class="ui-styled-text">
      <%= Utilities.markdown_to_html("docs/basestyles.md").html_safe %>
    </div>
  </div>

  <div class="ui-box">
    <div class="ui-titlepair">
      <div class="--title">
        This is a box
      </div>
      <div class="--description">
        Use the .ui-box class. 
      </div>
    </div>
    <div class="--bottom">
      Add a bottom section with .--bottom or a top section with .--top
    </div>
  </div>
  <div class="ui-box">

    <div class="--top">
      <div class="ui-titlepair">
        <div class="--title">
          These Are Title Pairs
        </div>
        <div class="--description">
          Which are very useful for labelling new sections
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-y-5">

      <div class="hidden">
        <div class="ui-titlepair --2xl hidden">
          <div class="--title">
            Title Pair .--2xl
          </div>
          <div class="--description">
            With Description
          </div>
        </div>

        <div class="ui-titlepair --xl hidden">
          <div class="--title">
            Title Pair .--xl
          </div>
          <div class="--description">
            With Description
          </div>
        </div>
      </div>

      <div class="ui-titlepair --lg">
        <div class="--title">
          Title Pair .--lg
        </div>
        <div class="--description">
          With Description
        </div>
      </div>

      <div class="ui-titlepair --md">
        <div class="--title">
          Title Pair .--md
        </div>
        <div class="--description">
          With Description
        </div>
      </div>

      <div class="ui-titlepair">
        <div class="--title">
          Title Pair
        </div>
        <div class="--description">
          With Description
        </div>
      </div>

      <div class="ui-titlepair --sm">
        <div class="--title">
          Title Pair .--sm
        </div>
        <div class="--description">
          With Description
        </div>
      </div>
      <div class="ui-titlepair --xs">
        <div class="--title">
          Title Pair .--xs
        </div>
        <div class="--description">
          With Description
        </div>
      </div>
    </div>
  </div>
  <div class="ui-box">
    <div class="ui-titlepair">
      <div class="--title mb-3">
        Buttons
      </div>
    </div>
    <div class="flex gap-x-2">
      <button class="ui-button">
        I'm a .ui-button
      </button>
      <button class="ui-button --solid">
        .ui-button .--solid
      </button>
      <button class="ui-button --minimal">
        .ui-button .--minimal
      </button>
      <a class="ui-link ml-2">
        Just a .ui-link
      </a>
    </div>
  </div>
  <div class="ui-box">
    <div class="ui-titlepair">
      <div class="--title mb-3">
        More Buttons
      </div>
    </div>
    <div class="flex gap-x-2">
      <button class="ui-button --solid">
        <%= inline_svg_tag("heroicons/envelope-outline.svg") %>
        .ui-button .--solid with an icon
      </button>
      <button class="ui-button --motion-forward">
        .ui-button with the .--motion-forward class
        <%= inline_svg_tag("heroicons/arrow-right.svg") %>
      </button>
    </div>
  </div>

  <div class="ui-box">
    <div class="ui-titlepair">
      <div class="--title mb-3">
        More Buttons
      </div>
    </div>
    <div class="flex gap-x-2">
      <button class="ui-button --rounded">
        <%= inline_svg_tag("heroicons/envelope-outline.svg") %>
        .ui-button .--rounded
      </button>
      <button class="ui-button --minimal">
        <%= inline_svg_tag("heroicons/envelope-outline.svg") %>
      </button>
      <button class="ui-button --rounded --minimal">
        <%= inline_svg_tag("heroicons/ellipsis-horizontal.svg") %>
      </button>
    </div>
  </div>
  <div class="ui-box">
    <div class="flex w-full justify-between">
      <div>
        <div class="ui-titlepair">
          <h3 class="--title">Button Group</h3>
          <p class="--description">Use the .ui-button-group class. Works with links or butons </p>
        </div>
      </div>
      <div class="flex items-center">
        <div class="ui-button-group">
          <a>
            <%= inline_svg_tag("heroicons/arrow-left.svg") %>
          </a>
          <a> 
            Down
            <%= inline_svg_tag("heroicons/arrow-down.svg") %>
          </a>
          <a>
            Up
            <%= inline_svg_tag("heroicons/arrow-up.svg") %>
          </a>
          <button>
            <%= inline_svg_tag("heroicons/arrow-right.svg") %>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="ui-box">
    <div class="flex w-full justify-between">
      <div>
        <div class="ui-titlepair">
          <h3 class="--title">Toggle</h3>
          <p class="--description">Use the .ui-toggle class. See markup for details. </p>
        </div>
      </div>
      <div class="flex items-center">
        <!-- Rounded switch -->
        <label class="ui-toggle">
          <input type="checkbox">
          <span class="--slider"></span>
        </label>
      </div>
    </div>
  </div>

  <form id="form1" class="ui-box ui-form" action="/docs">
    <div class="ui-titlepair mb-4">
      <h3 class="--title">
        Form Elements
      </h3>
      <span class="--description">
        Best framed within a box
      </span>
    </div>
    <div class="ui-tuple flex flex-col gap-y-1">  
      <div class="grid grid-cols-2 gap-x-4">
        <div>
          <label for="first_name">First Name</label>
          <input id="first_name" type="text" placeholder="First Name" />
        </div>
        <div>
          <label for="last_name">Last Name</label>
          <input id="last_name" type="text" placeholder="Last Name" />
        </div>
      </div>
      <div>
        <label for="options">Select</label>
        <select id="options">
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
      <div>
        <label for="options">Dropdown</label>
        <div :scope="
            inputId=new Date().getTime()
            options=[{name:'Pear',id:'pear'},{name:'Option 2',id:'option2'},{name:'Option 3',id:'option3'}];
            filteredOptions = options;
            selectedOption=options[0];
            highlightedOption=sele
          ">
          <div class="ui-select" :class="scope.open ? '--open' : '' " >
            <button :text="scope.selectedOption.name" type="button" class="--trigger" 
              :click="scope.open = !scope.open; document.getElementById(scope.inputId).focus(); ">
              Select An Option
            </button>
            <div class="--drawer">
              <input class="--searchbox" type="text" placeholder="Search..."
                :id="scope.inputId" 
                :change= "
                  scope.filteredOptions = scope.options.filter(option =>
                    option.name.toLowerCase().includes(this.value.toLowerCase()) ||
                    option.id.toLowerCase().includes(this.value.toLowerCase())
                  );
                  scope.highlightedOption = scope.filteredOptions[0]
                "
                />
              <div class="--options" :each="option, index in scope.filteredOptions" >
                <button type="button" 
                  :press="scope.selectedItem = option; scope.open=false" 
                  :text="option.name" ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <label for="options">Input Group</label>
        <div class="ui-input-group">
          <input id="first_name" type="text" placeholder="First Name" />
          <input id="middle_name" type="text" placeholder="Middle Name" />
          <input id="last_name" type="text" placeholder="Last Name" />
        </div>
      </div>
    </div>
    <div class="--bottom">
      <div>
        <a class="ui-button --minimal --motion-backward">
          <%= inline_svg_tag("heroicons/arrow-left.svg") %>
          Back
        </a>
      </div>
      <div class="flex gap-x-2">
        <a class="ui-button --motion-forward" >
          Save Draft
          <%= inline_svg_tag("heroicons/paper-airplane.svg") %>
        </a>
        <button type="submit" class="ui-button --solid --motion-forward" form="form1">

          Go
          <span class="--hidsden-while-loading flex gap-x-1">
            <%= inline_svg_tag("heroicons/arrow-right.svg") %>
          </span>
          <span class="hidden --shsown-while-loading">
            Go
            <%= inline_svg_tag("misc/spinner.svg") %>
          </span>
        </button>
      </div>
    </div>
  </form>

  <div class="ui-box">
    <div>
      <div class="ui-titlepair">
        <h3 class="--title">Floating Inputs</h3>
        <p class="--description"> Use the .ui-floating-input class</p>
      </div>
    </div>
    <form class="ui-form pt-5">
      <div class="grid grid-cols-2 gap-x-3">
        <div>
          <div class="ui-floating-input">
            <input type="text" placeholder=" " name="first_name" id="first_name" />
            <label>First Name</label>
          </div>
        </div>
        <div>
          <div class="ui-floating-input">
            <input type="text" placeholder=" " name="first_name" id="first_name" />
            <label>Last Name</label>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="ui-box">
    <div class="--top">
      <div class="ui-titlepair">
        <h2 class="--title">Tabnavs</h2>
        <span class="--description">
          Groups of links spread out horizontally
        </span>
      </div>
    </div>
    <div class="ui-titlepair mb-5 --sm">
      <h2 class="--title">.ui-tabnav.--ares</h2>
      <span class="--description">
        Ares tabnav was inspired by the Github tab bar. You can also use icons.
      </span>
    </div>
    <div class="ui-tabnav --ares mb-10" :scope="activeTab='content'">
      <div :class="scope.activeTab =='content' ? 'active' : ''" class="active">
        <button :click="scope.activeTab='content'" >
          Content
        </button>
      </div>
      <div :class="scope.activeTab =='setup' ? 'active' : ''">
        <button :click="scope.activeTab='setup'">
          Setup
        </button>
      </div>
    </div>
    <div class="ui-titlepair --sm mb-10">
      <h2 class="--title">.ui-tabnav.--hades</h2>
      <span class="--description">
        Use this alongside .ui-titlepair for tabs that need a description
      </span>
    </div>
      <div class="ui-tabnav --hades" :scope="activeTab='content'">
      <a :class="scope.activeTab =='content' ? 'active' : ''" :click="scope.activeTab='content'">
        <div class="ui-titlepair --sm" href="#">
          <div class="--title">Content</div>
          <span class="--description">The main content</span>
        </div>
      </a>
      <a :class="scope.activeTab =='setup' ? 'active' : ''" :click="scope.activeTab='setup'" >
        <div class="ui-titlepair --sm" href="#">
          <div class="--title">Setup</div>
          <span class="--description">Configure Your Integration</span>
        </div>
      </a>
    </div>
  </div>

  <div class="ui-box flex flex-col gap-y-4">
    <div class="ui-titlepair">
      <div class="--title">
        Search Input
      </div>
      <div class="--description">
        Use within a form or as standalone
      </div>
    </div>
    <input type="search" placeholder="Search..." class="ui-search-input" />
  </div>

  <div class="ui-box">
    <div class="--top">
      <div class="ui-titlepair">
        <h2 class="--title">Tuples</h2>
        <span class="--description">
          A tuple is a div with a separator, content on the left, and content on the right.
        </span>
      </div>
    </div>
    <div class="ui-tuple pb-6">
      <div class="--item">
        <div class="--left">
          <div class="ui-titlepair --sm">
            <h3 class="--title">Business Starter Plan</h3>
            <p class="--description">Get custom email (@yourcompany.com), 100 participant video meetings, and more.</p>
          </div>
        </div>
        <div class="--right">
          <a href="#" class="ui-link --motion-forward">
            Upgrade
            <%= inline_svg_tag('heroicons/arrow-right.svg') %>
          </a>
        </div>
      </div>
      <div class="--item">
        <div class="--left">
          <div class="ui-titlepair --sm">
            <h3 class="--title">Business Starter Plan</h3>
            <p class="--description">Get custom email (@yourcompany.com), 100 participant video meetings, and more.</p>
          </div>
        </div>
        <div class="--right">
          <a href="#" class="ui-link">Upgrade</a>
        </div>
      </div>
    </div>
  </div>

  <div class="ui-box">
    <div class="--top">
      <div class="ui-titlepair">
        <h2 class="--title">Toasts</h2>
        <span class="--description">
          Click the links below to trigger toasts
        </span>
      </div>
    </div>

    <script>
      toastmsgs = [
        {title:"Warning",message:"The action you have chosen to trigger is irreversible."},
        {title:"Success",message:"We have successfully processed your transation, thank you."},
      ]
      toasts=[]
    </script>

    <button class="ui-button --solid --motion-forward" :click="toasts=toastmsgs" >
      Trigger Some Toasts
      <%= inline_svg_tag("heroicons/arrow-right.svg") %>
    </button>

    <div class="ui-toasts" :each="toast, index in toasts" >
      <div class="--toast" role="alert"
        :class="el.toastClass"
        :scope
        :load="
          initialdelay = index * 500
          await wait(initialdelay);
          el.toastClass='--animate-in';
          if (toast.disappearing) {
            await wait(2000);
            el.toastClass='--animate-out'
          }
      ">
        <div class="--wrapper" >
          <div class="--content">
            <div class="--dismiss" :click="scope.toastClass='--animate-out';await wait(1000);scope.toastClass='hidden'" >
              <%= inline_svg_tag("heroicons/x-mark.svg") %>
            </div>
            <span class="--title" :text="toast.title">
            </span> 
            <span class="--message" :text="toast.message">
            </span> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui-box hidden">
    <div class="--top">
      <div class="ui-titlepair">
        <h2 class="--title">Modals (Todo)</h2>
        <span class="--description">
          Todo: Transfer this over from other codebase.
        </span>
      </div>
    </div>
    <button class="ui-button --solid --motion-forward" >
      Trigger A Modal
      <%= inline_svg_tag("heroicons/arrow-right.svg") %>
    </button>
  </div>

  <div class="ui-box">
    <div class="--top">
      <div class="ui-titlepair">
        <h2 class="--title">Tooltips</h2>
        <span class="--description">
          Tooltips are based on hint.css. Currently they don't support html content.
        </span>
      </div>
    </div>
    <button class="ui-button --solid --motion-forward ui-tooltip--top mr-4" aria-label="Use the ui-tooltip--top class">
      Tooltip Top
      <%= inline_svg_tag("heroicons/arrow-right.svg") %>
    </button>

    <button class="ui-button --solid --motion-forward ui-tooltip--right" aria-label="Use the ui-tooltip--right class">
      Tooltip Right
      <%= inline_svg_tag("heroicons/arrow-right.svg") %>
    </button>
  </div>

  <div class="ui-box hidden">
    <div class="--top">
      <div class="ui-titlepair">
        <h2 class="--title">Tables (Todo)</h2>
        <span class="--description">
          This is still a work in progress and will take some time to complete
        </span>
      </div>
    </div>
    <table class="ui-table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>John</td>
          <td>Doe</td>
          <td>John</td>
          <td>Doe</td>
          <td>John</td>
          <td>Doe</td>
          <td>John</td>
          <td>Doe</td>
        </tr>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>John</td>
          <td>Doe</td>
          <td>John</td>
          <td>Doe</td>
          <td>John</td>
          <td>Doe</td>
          <td>John</td>
          <td>Doe</td>
        </tr>
      </tbody>

    </table>
  </div>

</div>