<!DOCTYPE html>
<html class="h-full" lang="en">
  <head>
    <%= render :partial=> "h1rails/partials/head" %>
  </head>
  <body class="ui-body h-full" <%= htmx_body_attributes.html_safe %> >
    <%= render :partial => "h1rails/partials/modals" %>
    <%= render partial: "h1rails/partials/toasts" %>

    <div id="main-content" class="h-full">
      <% if renders_in_modal? %>
        <%# Sometimes people open modal links in a new tab. 
            In this scenario the modal will open anyway, so we shouldn't render the main content #%>
      <% elsif use_bare_layout? %>
        <%= yield %>
      <% elsif @body_layout %> 
        <%= render "layouts/body/#{@body_layout}" %>
      <% else %>
        <%= render "layouts/body/default" %>
      <% end %>
    </div>
    <%= yield :body_end %>

    <%- render partial: "livecode/dock" if request_is_localhost? %>
  </body>
</html>
