<!DOCTYPE html>
<html class="h-full" lang="en">
  <head>
    <%= render :partial=> "h1rails/partials/head" %>
    <%= render :partial=> "h1rails/partials/codedemo" %>

    <script type="module" src="https://cdn.base-styles.com/state-js/state.js"></script>
  
    <script>
      function sendHeightToParent() {
        const height = document.documentElement.scrollHeight || document.body.scrollHeight;
        window.parent.postMessage({
          type: 'resize',
          height: height
        }, '*');
      }
      window.addEventListener('load', function() {
        // Wait a bit to ensure all resources are rendered
        setTimeout(sendHeightToParent, 100);
        window.parent.postMessage({
          type: 'hideHeader'
        })
      });
    </script>
  </head>
  <body class="ui-body ui-sidedbar-body" <%= htmx_body_attributes.html_safe %> >

    <%= render partial: "h1rails/partials/modals" %>
    <%= render partial: "h1rails/partials/toasts" %>
    <%= render partial: "h1rails/partials/combobox" %>
    <%= render "h1rails/vendor/highlight" %> 
    <div id="<%= renders_in_modal? ? "modal-container" : "main-content" %>" class="h-full">
      <%= yield %>
    </div>
    <%= render :partial => "h1rails/demos/sidebar" if sidebar_shown? %>
    <%- render partial: "livecode/dock" if request_is_localhost? %>    

  </body>
</html>
