<!DOCTYPE html>
<html class="h-full" lang="en">
  <head>
    <%= render :partial=> "h1rails/partials/head" %>
  </head>
  <body class="ui-body" <%= htmx_body_attributes.html_safe %> >
    <%= render :partial => "h1rails/partials/modals" %>
    <%= render partial: "h1rails/partials/toasts" %>

    <link rel="stylesheet" href="https://cdn.base-styles.com/src/sidebar.css<%= cache_buster %>">

    <div id="<%= renders_in_modal? ? "modal-container" : "main-content" %>" class="h-full">
      <%= yield %>
    </div>
    <%= render :partial => "h1rails/demos/sidebar" if sidebar_shown? %>
    <%- render partial: "livecode/dock" if request_is_localhost? %>
  </body>
</html>
